<template>
  <main>
    <h1>Salute Component</h1>
    <input v-model="text" />
    <button @click="sendName">SUBMIT</button>
    <p>{{ props.salute }}</p>
    <p>{{ personalGreet }}</p>
  </main>
</template>

<script setup lang="ts">
import { ref } from "vue";
import Salute from "../services/greets"

const text = ref("");

interface properties {
  salute: string;
}

const props = withDefaults(defineProps<properties>(), {
  salute: "",
});

let personalGreet = ref("");

async function sendName(){
  const personalSalute = await new Salute().personalSalute(text.value);

  personalGreet.value = personalSalute;
}

</script>

