
<template>
  <main>
    <h1>Hola en la App</h1>
    <Salute :salute="helloWorld"/>
  </main>
</template>

<script setup lang="ts">
import Salute from "@/components/salute.vue"
import Greet from "./services/greets"
import { onMounted, ref } from "vue"

let helloWorld = ref("")
onMounted(async () => {
  const genericSalute = await new Greet().genericSalute() 
  helloWorld.value = genericSalute
})
</script>

<style></style>

